@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    border-radius: 10px;
    max-width: 100%;
}


/* Estrutura Principal */

.ConteinerPrincipal{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
    "header header header"
    "sidnav conteudo anuncio"
    "footer footer footer"
    ;
}

@media (max-width: 1200px){
    .ConteinerPrincipal{
        grid-template-columns: minmax(160px, 1fr) 3fr;
        grid-template-areas: 
        'header header'
        'sidnav conteudo'
        'sidnav anuncio'
        'footer footer'
        ;
    }
}

@media (max-width: 760px){
    .ConteinerPrincipal{
        grid-template-columns: 100%;
        grid-template-areas:
        'header'
        'sidnav'
        'conteudo'
        'anuncio'
        'footer'
        ;
    }
}

/* Header */
.header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-area: header;
    background: linear-gradient(to right, #8844ee, #b07dfb);
    padding: 30px;
}

.logo{
    max-width: 200px;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header nav a{
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: all .3s;
}

.header nav a:hover{
    background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 760px){
    .header{
        grid-template-columns: auto;
    }

    .logo{
        margin-bottom: 20px;
    }

    .header nav a{
        font-size: 1em;
    }

    .header ul{
        gap: 10px;
    }
}

/* SideNav */

.sidenav{
    grid-area: sidnav;
    background-color: #fafbfc;
    padding: 30px;
}

.sidenav ul li a{
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0px auto 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    transition: .1s ease-out;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.158);
}

.sidenav ul li a:hover{
    background-color: #b07dfb;
}

@media (max-width: 760px){
    .sidenav ul{
        display: flex;
    }

    .sidenav ul li{
        flex: 1 0 100px;
    }

    .sidenav::after{
        content: '→';
        position: absolute;
        top: 5px;
        right: 10px;
        color: rgba(0, 0, 0, .3);
        animation: arrowAnimation .5s ease-in infinite alternate;
        font-size: 1.5em;
    }

    .sidenav{
        overflow-x: scroll;
        padding: 0 30px;
        position: relative;
    }

    .sidenav ul li a{
        margin: 30px 10px;
    }
}

@keyframes arrowAnimation{
    from{
        right: 30px;
    }

    to{
        right: 20px;
    }
}

.conteiner{
    grid-area: conteudo;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.coluna-expandida{
    grid-column: 1 / 3;
}

.img-rowExpand{
    grid-row: span 2;
    align-self: end;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p{
    margin-top: 30px;
}

.titulo{
    color: #b07dfb;
}

.titulo h1{
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span{
    font-size: 0.9em;
    font-style: italic;
}

.caracteristicas{
    display: flex;
    align-items: flex-start;
}

.caracteristicas span{
    display: block;
    border-radius: 0 0 5px 5px;
    color: #b07dfb;
    padding: 5px 0;
}

.caracteristicas > div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.158);
}

.caracteristicas >div:first-child{
    margin-right: 30px;
}

.numero{
    color: #b07dfb;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo{
    background-color: white;
}

.destaque{
    font-size: 0.9em;
    color: #B07DFB;
    max-width: 16em;
}

.citacao, .atributos{
    padding: 30px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    color: white;
    border-radius: 5px;
    align-self: start;
}

.citacao p{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.atributos li{
    color: white;
    font-size: 1.125em;
    padding: 15px;
    font-family: Courier, monospace;
}

.anuncios{
    grid-area: anuncio;
    background-color: #fafbfc;
    display: grid;
    align-content: flex-start;
    padding: 30px;
    gap: 30px;
}

.footer{
    grid-area: footer;
    background: linear-gradient(to right, #8844ee, #b07dfb);
}

.footer p{
    color: white;
    text-align: center;
    padding: 30px;
}